.skeleton {
  background-color: var(--gray-200);
  background-image: linear-gradient(
    90deg,
    var(--gray-200) 0px,
    var(--gray-100) 40px,
    var(--gray-200) 80px
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
  border-radius: 4px;
}

.skeleton-text {
  margin-bottom: 8px;
}

.skeleton-title {
  margin-bottom: 16px;
  border-radius: 4px;
}

.skeleton-image {
  border-radius: 4px;
}

.skeleton-circle {
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
